body {
    font-family: sans-serif;
    padding: 25px;
    width: 100%;
    background-color: #dfe6e9;
    text-align: center;
    
  }
  
  .heading {
    text-align: center;
    font-size: 3em;
    color: #2d3436;
    margin: 20px 0 30px;
  }
  
  .cardS {
    border-radius: 25px;
    position: relative;
    padding: 15px; /* Reduce the top padding */
    background-color: #f5fafa;
    margin: 50px auto;
    width: 400px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
    box-sizing: border-box;
    flex-grow: 1;
  }
  
  .topS {
    border-radius: 25px 25px 0 0;
    background-color: #f4fcff;
    display: flex;
    align-items: center; /* Vertically center the content */
    padding: 15px;
    height: 200px; 
    font-family: 'Sacramento',cursive;/* Increase the padding here */
  }
  .bottomS{
    display: flex;
    height: 200px;
    align-items: center;

  }
  .nameS {
    font-size: 2em;
    color: #2d3436;
    flex: 1;
    /* Remove margin: 10% 20px 0; to allow automatic alignment */
  }
  
  
  .cardS span {
    margin: 30px 20px 0 0;
    font-size: 400%;
    padding: 18px;
    font-family: "Montserrat", sans-serif;
  }
  
  .circle-img {
    border-radius: 50%;
    border: 7px solid #fff;
    width: 1200px;
    height: 1200px;
  }
  
  
  
  .infoS {
    margin: 20px 0;
    color: #000303;
  }
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  
  
